/*.theme-text{
	color:#2345;
}
.theme-bg{
	background: #2345;
}
.text-blue{
    color:#0062bd;
}*/
.nav{
    float: right;
        margin-top: 38px;
         text-decoration: none;
     
}
.bg-black{
    background: black;
    color: white;

}
.main-nav{
border-top:1px solid #ddd;
border-bottom: 1px solid #ddd;
}
.nav a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding-right: 1px;
    padding: 24px;
    /*border-right: 1px solid #ddd;*/
}
/*.nav a::last-child {
  border-right:none;
}*/
#text{
        font-family: FoundersMono,monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45;
    max-width: 700px;
    width: 625px;
}
.portfolio{
        font-family: NeueHaas,sans-serif;
    font-size: inherit;
    font-weight: 700;
    letter-spacing: .013em;
    font-size: 26px;
    margin-bottom: 10px;
}
.lilacsolution{
width: 595;
height: 395;

}
.founder{
    background: black;
    width: 100%;
    height: 100px;
}
.founder-text{
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30vh;
    background-color: #141414;
    color: #fff;
    font-family: NeueHaas,sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .013em;
        padding: 20px;
    /* padding-right: 93px; */
    padding-left: 107px;
}
.header-title{
        font-size: 24px;
    margin-bottom: 15px;
    font-family: NeueHaas,sans-serif;
    font-weight: bold;
    color: white;
    
}
.sign-up{
     font-size: 24px;
    margin-bottom: 15px;
    font-family: NeueHaas,sans-serif;
    font-weight: bold;
    /*background: black;*/
    padding-top: 60px;
    /*padding-bottom: 60px;*/
    /*background-image: url(../../img/img-noise.png);*/
    /*background-color: #222;*/
    color: #222;


}
.border{
    border-bottom: 1px solid white;
}
.footer{
    color: white;
    text-transform: capitalize;
    font-family: NeueHaas,sans-serif;
    font-weight: bold;
}
.mail{
    color: white;

}
.social-info{
    padding:20px;
}
.social-info a{
    color: white;
    text-transform: uppercase;
    padding: 40px;
}
.social{
    padding: 38px;
}

.founders-grid__text{

    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 16px;
    pointer-events: none;
    max-width: 250px;
    font-family: FoundersMono,monospace;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.35;
    position: absolute;
    right: 5%;
    bottom: 5%;
    left: 5%;

}
.founders-grid__text :after{

    content: "";
    position: absolute;
    top: 100%;
    right: 1px;
    left: 1px;
    border-bottom: 1px solid #fff;

}




.menu a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-right: 1px;
    padding: 10px;
    color: #334141;
    float: left;
    font-size: 1.071em;
    /* border-right: 1px solid black; */
    font-weight: 700;
}

.wel{
	text-transform: capitalize;
    font-size: 22px;
    color: white;
    margin-top: 5px;

}
.p-text-menu{
	float: right;
    margin-top: -46px;
    margin-left: 66px;
}
.earJPG{
	float: left;
}



.product{
border-bottom: 1px solid #ddd;
font-size: 20px;
font-family: georgia;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;

}
.product:after{
    content: ' ';
    width: 83px;
    border-bottom: 2px solid transparent;
    display: block;
    position: absolute;
    bottom: -1px;
    border-color: #ea1b25;

}

.free-deliver{

	    color: white;
    font-family: georgia;
    font-size: 30px;
}
.delivery-area{
    float: left;
    color: white;
    padding-top: 7px;
    font-size: 16px;


}

.heading-department{
    text-transform: capitalize;
    font-size: 26px;
    
    font-family: georgia;
        color: white;
    padding-top: 5px;


}
.search-area{
background:#ea1b25;

}
.footer{
	color: white;
}
.button1{
	background: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 5px;
    padding-left: 24px;
    padding-right: 23px;
    padding-bottom: 3px;
    padding-top: 2px;
}
.fa, .fas{
	color: white;
}
/*.social-icons{
	padding: 5px;
    font-size: 20px;
}    color: white;
*/
.slide1 {
  background-image: url("slide2002.png");
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide2{
background-image: url("slider2.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide3{
background-image: url("slider3.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.owl-dots{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.owl-dot span{
	/*transition:1s; */
	padding: 10px;		
	border-radius: unset !important;
	border:2px solid white !important;
	background: #ea1b25 !important;
}
.owl-dots .active span{
	/*transition:1s; */
	padding: 10px;	
	border-radius: unset !important;
	border:2px solid white !important;
	background: white !important;
}
.owl-dot:focus{
	/*transition:1s; */
	outline: none;
}
.image1{
width: 100px;
float: left;
    margin-right: 10px;
    margin-bottom: 21px;
    padding-top: 10px;

}
.blossom{
width:100px;
float: left;

}
.embroidery-collection{
	    font-size: 17px;
    color: #0062bd;
    font-weight: 700;
    font-size: 1em;
    display: block;
    line-height: 1.2em;
}
.heart{
	color: white
}
.text-feild{
	    float: left;
    padding-left: 30px;
    padding-bottom: 0px;
    width: 69%;
    border: none;
    height: 60px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.input-group{

}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    	  float: right;
    height: 60px;
    border: none;
    width: 0%;
    width: 30px;
    }
.box-shadow {
  box-shadow: 0;
  transition: box-shadow 0.3s;
}

.box-shadow:hover {
  box-shadow: 0 0 7px #515151;
  
}
.bestseller{
	display: inline-flex;
	/*padding: 15px;*/
}
.bestseller a{
	font-size: 1.071em;
    line-height: 1.2em;
    color: #7b8186;
    /*margin-right: 10px;*/
    padding: 15px;
}
.best-seller{
	border-bottom: 1px solid #ddd;
font-size: 20px;
font-family: georgia;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}
.best-seller:after{
    content: ' ';
    width: 83px;
    border-bottom: 2px solid transparent;
    display: block;
    position: absolute;
    bottom: -1px;
    border-color: #ea1b25;

}
.nav-1{

	    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
        float: right;
    /*line-height: 3.571em;*/
}
.nav-item{
	display: inline-block;
	font-size: 15px;
}
.nav-link {
	    font-size: 15px;
	font-size: 1.071em;
    line-height: 1.2em;
    color: #7b8186;


}
.f-item {
	border-bottom: 1px solid #7b8186;
}
.featured-item{
	   padding-left: 0;
    margin-bottom: 0;
    list-style: none;
        
    line-height: 3.571em;
}
.featured-nav-item{
	display: inline-block;
	font-size: 15px;

}
.featured-nav-item-link
{
	        text-decoration: none;
	padding: 30px;
    color:#7b8186 ;
    font-weight: 700;
    font-size: 20px;
}
.featured-nav-item-link.active{
	font-weight: 700;
    position: relative;
}
.featured-nav-item-link.active:before{
	content: ' ';
    height: 4px;
    width: 10px;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    border-radius: 0 0 10px 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.featured-nav-item-link.active:after{
	content: ' ';
    border-bottom: 2px solid transparent;
    display: block;
    position: absolute;
 
    width: 100%;
    border-color: #ea1b25;
}
.deel-embroidery{

	border:2px solid red;
	border-radius: 15px;

}
.image5{
	width: 300px;
}
.image5-1{
	padding:10px;
}
.deel-heading{

    font-family: inherit;
    padding-bottom: 0;
    color: #343f49;
    font-size: 1.786em;
    
    position: relative;
    margin-bottom: 0;
    font-weight: inherit;
}
.image7{
	height: 120px;
    width: 100px;

}
.card-text{

	display: block;
    margin-bottom: 1em;
    font-size: .857em;
    line-height: 1.05em;
    height: 1.05em;
    color: #878787;
    overflow: hidden;
    cursor: pointer;
}
.cards-heading{
	    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;

}
.image8{
	width:300px;
	height: 300px;
}
.cards-heading-2{
	    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    width: 8%;

}
.box-shadow-2 {
  height: 300px;
  width: 10px;
  box-shadow: 0;
  transition: box-shadow 1s;
  /*border: 1px solid #eee;*/
}

.box-shadow-2:hover {
  box-shadow: 0 0 7px #515151;
  
}
.text-field{

	width: 360px;
    height: 60px;
    padding: 15px;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
.text-field:focus{
outline: none;
}
.select-option{
	    width: 116px;
	border: none;
}
.select-option:focus{
	outline: none;
}
.shopping-bag{
	position: relative;
}
.count-zero{
	position:absolute;
	background-color: black;
	    padding-top: -4px;
    color: white;
    top: 10px;
    left: 45px;
    border-radius: 50px;
   
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0;
    padding-bottom: 0px;
}
.best-seller{
	border-bottom: 1px solid black;
							

}
.nav-item-span{
	border:1px solid red;
	padding: 6px;
    border-radius: 50px
}
.height-half-screen{
	height: 50vh;
}
.height-md-screen{
	height: 30vh;
}
.height-small-screen{
	height: 10vh;
}

.object-fit-cover{
	object-fit: cover;
}
.object-fit-contain{
	object-fit: contain;
}

.card-heading{
	height: 10vh;
}
.height-small-screen-2{
    height: 20vh;
}
.slicknav_menu{
    background: rgba(0,0,0,0) none repeat scroll 0 0; font-size:15px;position:fixed;right:0;z-index: 1;
    top:0;
}
.slicknav_menu{
   display: none;
}
.slicknav_nav{
    text-decoration: none;
    background-color: #ea1b25;
    clear: both;
    color: white;
    font-size: 14px;
    top: 0;
    width: 80%;
    left: 0;
   position: fixed;
    margin: 0;
    z-index: 1;
}
@media only screen and (min-width:200px) and (max-width: 700px){
.slicknav_menu{
   display: block;
}
.main-nav{
    display: none;
}
.search-area{
    display: none;
}
}
    
